/*STYLESHEET FOR "PHOTO ALBUM 2017" WEBSITE*/

body {
  font-family: "Arial Rounded MT Bold";
}
img {
  height: 230px;
}
img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

/* FLEXBOX */

.flex-container-1 {
  display: flex;
  flex-wrap: wrap;
  /* background-color: black; */
}
.flex-container-2 {   /* exactly same as flex-container-1, but makes '.flex-container-2 > img' (below) work */
  display: flex;      /* otherwise every 'img' class has to be changed */
  flex-wrap: wrap;
}
.flex-container-1 > img {   /* 'img' class that is child of 'flex-container' */
  /*height: 230px;*/
  padding: 3px;
/*  background-color: #f1f1f1; */
}
.flex-container-2 > img {
  /*height: 230px;*/
  padding: 0;
}

/* BUTTONS */

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 8px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  /*float: right;*/
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
